<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="container">
		<h1>회원가입</h1>
		<form th:action="@{/join}" method="post">
			<div class="form-group">
				<label>아이디</label>
				<div style="display: flex; gap: 5px;">
					<input type="text" name="userId" id="userId" required placeholder="아이디를 입력해 주세요.">
					<button type="button" onclick="checkId()" style="white-space: nowrap;">중복 확인</button>
				</div>
				<span id="idMsg" style="font-size: 12px;"></span>
			</div>
			<div class="form-group">
				<label>비밀번호</label>
				<input type="password" name="userPw" id="userPw" required placeholder="비밀번호를 입력해 주세요.">
			</div>
			<div class="form-group">
				<label>이름</label>
				<input type="text" name="userName" id="userName" required placeholder="이름을 입력해 주세요.">
			</div>
			<button type="submit" id="submitBtn" class="btn-primary">가입 완료</button>
		</form>
	</div>
	<script>
		// async: 해당 함수는 비동기 방식으로 작동
		async function checkId() {
			
			// 1. HTML에 id가 userId인 입력창을 찾아, 사용자가 타이핑한 값을 가져와 변수에 담음
			const userId = document.getElementById('userId').value;
			
			// 2. 아이디 칸이 비어있으면 경고창 띄우기
			if (!userId) {
				alert("아이디를 입력하세요.");
				return;
			}
			
			// fetch: 다른 서버의 주소로 편지를 보냄 (여기서는 idCheck)
			// await: 서버에서 답장이 올 때까지 다음 줄로 넘어가지 않고 잠시 기다림
			const response = await fetch(`/idCheck/${userId}`);
			const count = await response.json(); // 서버로부터 받은 답장을 스크립트가 읽을 수 있는 형태(json형식)로 변환
			// 답장 받기 = await + 답장을 담은 변수
			
			const msg = document.getElementById('idMsg');
			const btn = document.getElementById('submitBtn');
			if (count == 0) { // 중복된 아이디가 0개 (사용 가능)
				msg.innerText = "사용 가능한 아이디입니다."; msg.style.color = "green";
				btn.disabled = false; // 아이디가 안전하니 가입 버튼을 클릭할 수 있게 활성화
			} else {
				msg.innerText = "중복된 아이디입니다."; msg.style.color = "red";
				btn.disabled = true;
			}
		}
	</script>
</body>
</html>